* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.scroll--transparent::-webkit-scrollbar-thumb {
	background: transparent;
}

.scroll--transparent::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.scroll--transparent::-webkit-scrollbar-track {
	background: transparent;
}


/*Landing page css*/

.Main-Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


.Landing-section {
  background: linear-gradient(167deg, #0D8772 0%, #0D594C 100%);
  padding: 58px 100px 110px 69px;

}

.Header-content {
  display: flex;
  justify-content: space-between;
}


.Landing-img {
  position:relative;
    min-width: 520px;
    max-height: 100%;
}

.Iphone {
  position: relative;
  width: 100%;
  height: 100%;
}
.Reviews{
  position:absolute;
  left:30px;
  top:0;
}


.Landing-Content {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 60px;
}

.Landing-Text-Container{
  max-width: 555px;
}

.Landing-text1 p {
  color: #ffffffb3;
  font-size: 25px;
  font-weight: 300;
  margin:0
}

.Landing-text2 p {
  color: #FFF;
  font-family: 'Uni Sans', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 61px; 
  margin-block:20px;
}

.Landing-text3 p {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
}

.Landing-buttons {
  display: flex;
  align-items: center;
margin-top: 30px;
}

.button {
  color: white;
  width: 221px;
  text-align:center;
  padding-block: 6px;
  border-radius: 5px;
  border: 0.939px solid #FFB300;
  background: radial-gradient(52.76% 53.73% at 49.82% 91.79%, #FFB300 0%, #FFE7AE 0.01%, #D99800 100%);
  box-shadow: 0px 10px 50px 10px rgba(255, 179, 0, 0.15);
}


.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;

}

.play-img {
  width: 80px;
  max-height: 100%;
}

.play-text {
  font-size: 15px;
}


.Reviews {
  width: 250px;
  height: 75px
}

.Icons-Container {
  gap: 30px;
  margin-top:-50px;
  display: flex;
  justify-content: flex-start;
}

.icon-text {
  color: #FFF;
text-align: center;
font-size: 12px;
  margin:8px 0 0 0
}

/*Landing page css end*/




.main-features {
  padding: 58px 100px 0px 69px;
}


.features-text1 {
  color: #39454A;
  font-family: Uni Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  /* 125% */
}

.features-text-span {
  color: #0C6253;
}

.features-text2 {
  color: #616161;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top:25px;
  /* 24px */
}


.horizantal-line {
  background: linear-gradient(135deg, #FFCD36 0%, rgba(255, 205, 54, 0.00) 100%);
}


.card-img {
  width:100%;
  max-height: 100%;
}

.features-cards-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding: 50px 0px 0px 0px;
  gap:20px;
}

.card-container{
  min-width:300px;
  max-width:100%;
}

.card-text1 {
  color: #39454A;
  font-family: Uni Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-text2 {
  margin-top: 10px;
  color: #616161;
  font-family: Lato;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

}

.viewmore-text {
  margin-top: 8px;
  color: #0C6253;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.card-text-content {

  margin-top: 20px;
}






.damage-free-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  padding: 60px;
  gap:24px;
}

.card-shadow {
  padding: 12px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
}


.damage-card-img {
  width: 50px;
  height: 50px;
}

.product-order {
  padding: 50px 20px 0px 20px;
}

.product-container {
  padding-top: 50px;
  text-align: center;
}

.product-icons {
  display: flex;
  justify-content: space-around;

}

.pro-hr {
  background-color: darkcyan;
  height: 20px;
}


.product-icons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
  /* padding: 50px 0px 0px 50px; */
  gap: 15px;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;
}

.pro-hr {
  width: 701.672px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #0C6253;
}


.iphone-containers {
  margin-top: 50px;
  display: flex;
  overflow-x:auto;
  justify-content:center;
}

.iphone-button {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.button .iphone-button {
  padding: 0px 30px 0px 30px;
  border-radius: 5px;
  border: 0.939px solid #FFB300;
  background: radial-gradient(52.76% 53.73% at 49.82% 91.79%, #FFB300 0%, #FFE7AE 0.01%, #D99800 100%);
  box-shadow: 0px 10px 50px 10px rgba(255, 179, 0, 0.15);
}






.payment {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}


.about {
  color: white;
  margin-top: 50px;
  background: #0C6253;

}

.about-title {
  color: #FFF;
  font-family: Uni Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 125% */
}

.about-paragraph {
  color: #E3E3E3;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.about-card-container {
  display: flex;
  gap: 30px;
  padding: 60px;
  overflow-x: auto;
}

.about-card {
  position: relative;
  min-width: 453px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px;

}

.card-header {
  display: flex;
}

.person-img {
  position: relative;
  margin-top: -50px;
}

.person-name {
  font-size: 20px;
  font-weight: 700;
}

.person-job {}

.about-text {
  padding: 50px;
}

.person-info {
  margin-left: 20px;
  text-align: left;
}

.person-rating--container {
  display: flex;
}

.description-container {
  padding: 60px;
}

.nav {

  overflow: hidden;
}


.nav a {
  float: left;
  display: block;
  color: #0C6253;
  text-align: center;
  padding: 0px 20px 12px 0px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.nav a:hover {
  border-bottom: 3px solid #0C6253;
}

.nav a.active {
  border-bottom: 3px solid #0C6253;
}

.more-info {
  padding: 60px;
}


.main-features-Text {
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 70px;
  padding: 0px 15px 0px 50px;
  flex-direction: column;
}

.footer-top--container{
   background-color: #f4f4f4;
  padding: 50px 100px 67px 160px;
}

.footer-top {
 
  display: flex;
  justify-content: space-between;
}

.footer-left-section {
  position: relative;
  width: 360px;
  min-width: 360px;
  margin-top: 20px;
}

.company-logo {
  width: 126px;
  margin-bottom: 20px;
}

.company-description {
  color: #616161;
  font-size: 16px;
  margin: 0;
  line-height: 25px;
}


.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 52px;
  background-color: #05a5891f;
color: #0C6253;
}

.footer-right-section {
  display: flex;
  justify-content: space-between;
  width: max-content;
  gap: 70px;

}

.detail-title {
  color: #39454A;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.detail-list {
  padding: 0;
  list-style: none;
}

.detail-list--item {
  margin-bottom: 17px;
}

.detail-list--item a {
  text-decoration: none;
  color: #616161;
  font-size: 16px;
}


.footer-bottom {
  text-align: center;
  padding: 25px 0;
  font-size: 16px;
  letter-spacing: 5px;
  color: #555;
  background-color: #FFCD36;
}



.navbar {
  display: flex;
  width: 100%;
  overflow-x: auto;
  justify-content:center;
  border-bottom: 3px solid #0C6253;
}


.navbar a {
  padding: 12px;
  color: #5559;
  text-decoration: none;
  font-size: 17px;
  white-space:nowrap;

}

.navbar a:hover {
  border-bottom: 3px solid #0C6253;
}

.active2 {
  border-radius: 5px 5px 0px 0px;
  background: #0C6253;
}

.active .text {
  color: white;
}




/*Landing page media*/
@media only screen and (max-width: 1180px) {
  .Landing-section{
     padding-inline:36px;
  }
  .Landing-Content{
    flex-direction:column;
    align-items:center;
    gap:40px;
   
  }
  .Landing-Text-Container{
    text-align:center;
  }
  .Landing-buttons{
    justify-content:center
  }
  .Icons-Container {
    margin-top:40px;
   justify-content:center
  }
}

@media only screen and (max-width: 743px) {
  .main-features-Text{
    padding:0 10px;
  }
  .Header-content{
    justify-content:center;
  }
  .Header-icon{
    display:none;
  }
  .Landing-text2 p{
    font-size: 36px;
  }
  .Landing-img{
    min-width:100%;
    max-width:500px;
    width:100%;
  }
  .Icons-Container{
    flex-wrap:wrap;
  }

  .main-features{
    padding:0 36px 0 36px; 
  }
  .features-text1{
    font-size: 32px;
  }
  .features-text2 {
    margin-top:15px;
  }
  .about-text,.about-card-container {
    padding-inline:20px;
  }
  .iphone-containers,.navbar{
    justify-content:flex-start;
  }
  .more-info{
    padding:20px;
  }
  .description-container{
    padding-inline:0;
  }
  .footer-top--container{
    padding:20px;
  }
  .footer-top{
    gap:40px;
    flex-wrap:wrap;
    justify-content:center;
  }
  .footer-left-section{
    min-width:none;
    text-align:center;
  }
  .footer-right-section{
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
  }
  .socials{
    justify-content:center;
    margin-top:30px;
  }
  .footer-bottom{
    font-size:13px;
  }
}

/*Landing page media end*/


.home{
  color: white;
}

.navbar a i {
  color: white;
}